<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="czat" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8732/CzatHostWS" binding="netTcpBinding"
                bindingConfiguration="czat" contract="UslugaKomunikatora.ICzatService"
                name="czat">
                <identity>
                    <servicePrincipalName value="host/Rogal" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>